<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Chatting Inside <%= roomid %> as <%= user %></h1>
    <input type="text" id="chat_box" />
    <button id="send">Send</button>

    <ul id="msg_list"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      let input = document.getElementById("chat_box");
      let msg_list = document.getElementById("msg_list");
      let send = document.getElementById("send");

      // when we render the page we will join the room
      socket.emit("join_room", { roomid: "<%= roomid %>" });

      send.addEventListener("click", () => {
        let msg = input.value;
        socket.emit("new_msg", {
          message: msg,
          roomid: "<%= roomid %>",
          sender: "<%= user %>",
        });
        input.value = "";
      });

      socket.on("msg_rcvd", (data) => {
        let msg = document.createElement("li");
        msg.textContent = data.sender + ": " + data.message;
        msg_list.appendChild(msg);
      });
    </script>
  </body>
</html>
